h1{
    color: #660033;
    background-color: snow;
}
p{
    color: sienna;
    background-color:wheat;
}
ul{
    color: slategray;
    background-color:snow
}
li{
    color: steelblue;
}
body{
    background-color: violet;
}
head{
    background-color:violet
}